<html>
    <head>
        <title>My Journey</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container">
              <div class="navbar-header">
                <p class="navbar-brand">DAILY JOURNAL</p>
              </div>
                <ul class="nav navbar-nav navbar-right">
                  <!-- 6 -->
                  <li id="home"><a href="/">HOME</a></li>
                  <li id="about"><a href="/about">ABOUT US</a></li>
                  <li id="contact"><a href="/contact">CONTACT US</a></li>
                </ul>
            </div>
          </nav>
        <h1><%=home%></h1>
        <p><%=mybreif%></p>
        <br>

        <% post.forEach(function(BlogItem) { %>
          <h1><%= BlogItem.title  %></h1>
          <p><%= BlogItem.para %></p>
        <% }); %>

        <div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by Syed Amaan</p>
    <p><a href="/compose">COMPOSE</a></li></p>
  </div>
</div>
    </body>
</html>